[submodule "OrbEngine/vendor/spdlog"]
	path = OrbEngine/vendor/spdlog
	url = ../../gabime/spdlog.git
	branch = v1.x
[submodule "OrbEngine/vendor/GLFW"]
	path = OrbEngine/vendor/GLFW
	url = ../../TheCherno/GLFW.git
	branch = master
[submodule "OrbEngine/vendor/ImGui"]
	path = OrbEngine/vendor/ImGui
	url = ../../TheCherno/imgui.git
	branch = docking
[submodule "OrbEngine/vendor/glm"]
	path = OrbEngine/vendor/glm
	url = ../../g-truc/glm.git
	branch = master