[submodule "OrbEngine/vendor/spdlog"]
	path = OrbEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "OrbEngine/vendor/GLFW"]
	path = OrbEngine/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
	branch = master
[submodule "OrbEngine/vendor/ImGui"]
	path = OrbEngine/vendor/ImGui
	url = https://github.com/TheCherno/imgui
	branch = docking
[submodule "OrbEngine/vendor/glm"]
	path = OrbEngine/vendor/glm
	url = https://github.com/g-truc/glm
	branch = master